<%= bootstrap_form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h1 class="h2"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h1>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="col-8">

      <div class="field">
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.text_area :description, rows: "10" %>
      </div>

      <div class="field">
        <% if @event.date.present? %>
          <%= form.text_field :date, value: @event.date.strftime("%Y-%m-%d") %>
        <% else %>
          <%= form.text_field :date, placeholder: "YYYY-MM-DD" %>
        <% end %>
        <small class="form-text text-muted">This is the sort date or how it will be ordered chronologically.</small>
      </div>

      <div class="field">
        <%= form.text_field :display_date %>
        <small class="form-text text-muted">This is the date that the user will see. If blank, the regular date will be shown.</small>
      </div>

      <div class="field">
        <%= form.select(:subject_ids, Subject.all.order(:name).collect {|s| [s.name, s.id]}, {}, {multiple: true, size: 10}) %>
      </div>

      <div class="field mt-4 mb-4">
        <div class="card">
          <div class="card-header">
            Citations
          </div>
          <%= form.fields_for :citations do |citation| %>
            <%= render "citation_fields", f: citation %>
          <% end %>
          <div class="card-footer">
              <%= link_to_add_association form, :citations, class: "btn btn-primary" do %>
                <%= fa_icon "plus-circle" %>
                Add Citation
              <% end %>
            </div>
        </div>
      </div>

      <div class="field">
        <%= form.text_area :citation_description %>
        <small class="form-text text-muted">Unstructured legacy citation, or for describing the relationship with the citation(s).</small>
      </div>

      <div class="field">
        <%= form.text_field :representative_media %>
        <small class="form-text text-muted">This is a photo or other ArcLight digital object that might describe the event, but does not contain evidence of it.</small>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

      </div>

    <div class="col-4">
      <h2 class="h3">Internal Info</h2>

      <div class="field">
        <div class="form-check">
          <%= form.check_box :published %>
        </div>
      </div>

      <div class="field">
        <div class="form-check">
          <%= form.check_box :formatted_correctly %>
        </div>
      </div>

      <div class="field">
        <div class="form-check">
          <%= form.check_box :content_confirmed %>
        </div>
      </div>

      <div class="field">
        <%= form.text_area :internal_note %>
      </div>
    </div>
  </div>
<% end %>
