<div class="container-fluid">

<% if params[:editor] %>
  <h1>Events last updated by <%= User.find(params[:editor]).email %></h1>
<% else %>
  <h1>Events</h1>
<% end %>

<div class="mt-2 mb-3">
  <%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
</div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Thumb</th>
      <th>Date</th>
      <th>Display date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Subjects</th>
      <th>Citations</th>
      <th>Confirmed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events = @events.order(:date).paginate(page: params[:page]) %>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% if event.file %>
            <img src="<%= event.file + "?file=thumbnail" %>" class="img-thumbnail" alt="Thumbnail for <%= event.title %>" />
          <% end %>
        </td>
        <td><%= event.date %></td>
        <td><%= event.display_date %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= render 'layouts/boolean_check', check: event.subjects.present? %></td>
        <td><%= render 'layouts/boolean_check', check: event.citations.present? %></td>
        <td><%= render 'layouts/boolean_check', check: event.content_confirmed %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', event, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_event_path(event), class: "btn btn-info" %>
          </div><br/>
          <% zone = ActiveSupport::TimeZone.new("Eastern Time (US & Canada)") %>
          <b>Last Modified:</b> <%= event.updated_at.in_time_zone(zone) %>
        </td>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events %>

</div>
