<div class="container-fluid">

<h1>Events</h1>

<div class="mt-2 mb-3">
  <%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
</div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Thumb</th>
      <th>Date</th>
      <th>Display date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Subjects</th>
      <th>Citations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events = @events.order(:date).paginate(page: params[:page]) %>
    <% @events.each do |event| %>
      <tr>
        <td>
          <% if event.file %>
            <img src="<%= event.file + "?file=thumbnail" %>" class="img-thumbnail" />
          <% end %>
        </td>
        <td><%= event.date %></td>
        <td><%= event.display_date %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= render 'layouts/boolean_check', check: event.subjects.present? %></td>
        <td><%= render 'layouts/boolean_check', check: event.citations.present? %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', event, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_event_path(event), class: "btn btn-info" %>
          </div>
        </td>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events %>

</div>