<div class="container">

  <div class="row">

    <div class="col-8">

      <div class="card">
        <div class="card-body">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="card-title"><%= @event.title %></h4>
            <small>
              <% if @event.display_date.present? %>
                <%= @event.display_date %>
              <% else %>
                <%= @event.date.strftime("%Y %B %d") %>
              <% end %>  
            </small>
          </div>
          
          <p class="card-text"><%= @event.description %></p>
        </div>

        <div class="col-12">
          <ul class="list-group mb-3">
            <% @event.subjects.each do |subject| %>
              <a href="/subjects/<%= subject.id %>" class="list-group-item list-group-item-action list-group-item-info"><%= subject.name %></a>
            <% end %>
          </ul>
        </div>

        <div class="container">
          

          <div class="row">
            <% @event.citations.each do |cite| %>
            <div class="col-4 d-flex pb-3">
            <div class="card" style="width: 18rem; display:block">
              <% if cite.file %>
                <img height="150px" style="display:block;margin: auto;" src="<%= cite.file %>?file=thumbnail">
              <% end %>
              <div class="card-body">
                <% if cite.text %>
                  <h5 class="card-title"><%= cite.text %></h5>
                <% end %>
                <a href="<%= cite.link %>" class="btn btn-primary">Citation</a>
              </div>
            </div>
            </div>
            <% end %>
          </div>

        </div>
        <div class="card-body">
          <p class="card-text"><%= @event.citation_description %></p>
        </div>

        <img class="card-img-top" style="width:500px;margin:auto;" src="<%= @event.file %>">
        
      </div>

    </div>

    <div class="col-4">

        <div class="card">
          <div class="card-body">
            
            
            <% if @event.internal_note.present? %>
              <h4 class="card-title">Internal note</h4>
              <p class="card-text"><%= @event.internal_note %></p>
            <% end %>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= render 'layouts/boolean_check', check: @event.formatted_correctly %>
                <strong>Formatted correctly</strong>
              </li>
              <li class="list-group-item">
                <%= render 'layouts/boolean_check', check: @event.content_confirmed %>
                <strong>Content confirmed</strong>
              </li>
            </ul>

          </div>
        </div>

        <div class="btn-group mt-3">
        <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info" %>
        <%= link_to 'Back', events_path, class: "btn btn-outline-dark" %>
        <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>

    </div>

  </div>

</div>