<div class="container">

<% if notice %>
  <div id="notice">
    <p class="alert alert-success" role="alert"><%= notice %></p>
  </div>
<% end %>

  <div class="row">

    <div class="col-8">

      <div class="card">
        <div class="card-body">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="card-title"><%= @event.title %></h4>
            <small>
              <% if @event.display_date.present? %>
                <%= @event.display_date %>
              <% else %>
                <%= @event.date.strftime("%Y %B %d") %>
              <% end %>  
            </small>
          </div>
          
          <p class="card-text"><%= @event.description %></p>
        </div>

        <div class="col-12">
          <ul class="list-group">
            <% @event.subjects.each do |subject| %>
              <a href="/subjects/<%= subject.id %>" class="list-group-item list-group-item-action list-group-item-info"><%= subject.name %></a>
            <% end %>
          </ul>
        </div>

        <div class="col-12">
          

          <p>
            <strong>Citation page:</strong>
            <%= @event.citation_page %>
          </p>

          <p>
            <strong>Citation description:</strong>
            <%= @event.citation_description %>
          </p>

        </div>
          <p>
            <a href="<%= @event.citation_link %>"><%= @event.citation_text %></a>
          </p>
        <img class="card-img-top" style="width:500px;margin:auto;" src="<%= @event.file %>">
        
      </div>

    </div>

    <div class="col-4">

        <div class="card">
          <div class="card-body">
            
            
            <% if @event.internal_note.present? %>
              <h4 class="card-title">Internal note</h4>
              <p class="card-text"><%= @event.internal_note %></p>
            <% end %>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= render 'layouts/boolean_check', check: @event.formatted_correctly %>
                <strong>Formatted correctly</strong>
              </li>
              <li class="list-group-item">
                <%= render 'layouts/boolean_check', check: @event.content_confirmed %>
                <strong>Content confirmed</strong>
              </li>
            </ul>

          </div>
        </div>

        <div class="btn-group mt-3">
        <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info" %>
        <%= link_to 'Back', events_path, class: "btn btn-outline-dark" %>
      </div>

    </div>

  </div>

</div>