<%= bootstrap_form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :representative_media %>
    <small class="form-text text-muted">Hyrax URL to an Image that represents the subject.</small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
