<nav class="navbar navbar-dark bg-primary navbar-expand-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HistoryEditor</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= events_path %>" role="button" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="<%= events_path %>/new" role="button" aria-haspopup="true" aria-expanded="false">
          New Event
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= subjects_path %>" role="button" aria-haspopup="true" aria-expanded="false">
          Subjects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= subjects_path %>/new" role="button" aria-haspopup="true" aria-expanded="false">
          Add Subject
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= events_path %>?unedited" role="button" aria-haspopup="true" aria-expanded="false">
          Needs Formatting
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Events Edited by
        </a>
        <div class="dropdown-menu">
          <% User.all.each do |user| %>
            <a class="dropdown-item" href="<%= events_path %>?editor=<%= user.id %>"><%= user.email %></a>
          <% end %>
        </div>
      </li>
    </ul>
    

    <div class="navbar-text float-right">
      <% if user_signed_in? %>
        <span>Logged in as <strong><%= current_user.email %></strong>.</span>
        <div class="btn-group">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-secondary'  %>
        </div>
      <% else %>
        <div class="btn-group">
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-secondary'  %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-secondary'  %>
        </div>
      <% end %>
    </div>
  </div>
</nav>