<!DOCTYPE html>
<html>
  <head>
    <title>HistoryEditor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <div id="notice">
          <p class="alert alert-success" role="alert"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
